#menu
{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}
body
{
    background-color: coral;
}
#btn_registro
{
    background: thistle;
    color: aliceblue;
    width: 100px;
    height: 50px;
}
.boton
{
    background: thistle;
    color: aliceblue;
    width: 100px;
    height: 50px;
    padding: 10px;
}
.seleccionado
{
    background: gray;
    color: cornflowerblue;  
}
a{
    margin-right: 10px;
}